<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AccountManagerment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AccountManagerment.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Form.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles/font-awesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Accounts.css" asp-append-version="true" /></head>
    <link rel="stylesheet" href="~/css/font-awesome//css/font-awesome.css">
    <link rel="stylesheet" href="~/css/font-awesome//css/font-awesome.min.css">
<body>
    @RenderBody()
    <script src="~/js/Form.js"></script>
    <script src="~/js/SendEmail.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
